apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: goldilocks
spec:
  interval: 5m
  install:
    crds: CreateReplace
  upgrade:
    crds: CreateReplace
  chart:
    spec:
      chart: goldilocks
      version: 8.0.1
      sourceRef:
        kind: HelmRepository
        name: goldilocks
  # https://github.com/FairwindsOps/charts/blob/master/stable/goldilocks/values.yaml
  values:
    dashboard:
      replicaCount: ${goldilocks_replica_count:=1}
      ingress:
        enabled: true
        hosts:
          - host: goldilocks.${cluster_domain}
            paths:
              - path: /
                type: ImplementationSpecific
    vpa:
      enabled: true
      updater:
        enabled: true
        # extraArgs:
        #   min-replicas: 1
        image:
          tag: "1.0.0"
