apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - cert-manager
  - cloudflared
  - gha-runner-scale-set-controller
  - goldilocks
  - harbor
  - homepage
  - k8sgpt-operator
  - local-ai
  - oauth2-proxy
  - ollama
  - open-webui
  - plantuml
  - reloader
  - traefik
  # - helm-charts-oci-proxy # Not supported on ARM64
  # - pulumi-operator # Not supported on ARM64

patches:
  - patch: |
      apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
      kind: Kustomization
      metadata:
        name: all
      spec:
        decryption:
          provider: sops
          secretRef:
            name: sops-age
    target:
      kind: Kustomization
      labelSelector: app.kubernetes.io/sops=enabled
  - patch: |
      apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
      kind: Kustomization
      metadata:
        name: all
      spec:
        postBuild:
          substituteFrom:
            - kind: ConfigMap
              name: variables
            - kind: Secret
              name: variables-sensitive
    target:
      kind: Kustomization
      labelSelector: app.kubernetes.io/post-build-variables=enabled
