apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - cert-manager
  - harbor
  - oauth2-proxy
  - reloader
  - traefik
  # - ../../../cloudflared
  # - ../../../gha-runner-scale-set
  # - ../../../goldilocks
  # - ../../../helm-charts-oci-proxy
  # - ../../../homepage
  # - ../../../kubelet-serving-cert-approver
  # - ../../../metrics-server
  # - ../../../plantuml
  # - ../../../pulumi-operator
  # - ../../../reloader
  # - configmaps/oauth2-proxy-configmap.yaml
  # # - ../../../longhorn # open-iscsi does not exist as a kernel module in the Default GitHub Runner images

patches:
  - patch: |
      apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
      kind: Kustomization
      metadata:
        name: all
      spec:
        decryption:
          provider: sops
          secretRef:
            name: sops-age
    target:
      kind: Kustomization
      labelSelector: app.kubernetes.io/sops=enabled
  - patch: |
      apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
      kind: Kustomization
      metadata:
        name: all
      spec:
        postBuild:
          substituteFrom:
            - kind: ConfigMap
              name: variables
            - kind: Secret
              name: variables-sensitive
    target:
      kind: Kustomization
      labelSelector: app.kubernetes.io/post-build-variables=enabled
