apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: local-ai
spec:
  interval: 1m
  install:
    crds: CreateReplace
  upgrade:
    crds: CreateReplace
  chart:
    spec:
      chart: local-ai
      version: 3.3.0
      sourceRef:
        kind: HelmRepository
        name: local-ai
  # https://github.com/go-skynet/helm-charts/blob/main/charts/local-ai/values.yaml
  values:
    deployment:
      image:
        tag: ${local_ai_image_tag:=latest-aio-cpu}
