apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: gha-runner-scale-set-controller
  namespace: gha-runner-scale-set-controller
spec:
  interval: 1m
  install:
    crds: CreateReplace
  upgrade:
    crds: CreateReplace
  chart:
    spec:
      chart: gha-runner-scale-set-controller
      version: 0.9.3
      sourceRef:
        kind: HelmRepository
        name: gha-runner-scale-set
        namespace: gha-runner-scale-set
  # https://github.com/actions/actions-runner-controller/blob/master/charts/gha-runner-scale-set-controller/values.yaml
  values: {}
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: gha-runner-scale-set
  namespace: gha-runner-scale-set
spec:
  interval: 1m
  dependsOn:
    - name: gha-runner-scale-set-controller
      namespace: gha-runner-scale-set-controller
  install:
    crds: CreateReplace
  upgrade:
    crds: CreateReplace
  chart:
    spec:
      chart: gha-runner-scale-set
      version: 0.9.2
      sourceRef:
        kind: HelmRepository
        name: gha-runner-scale-set
        namespace: gha-runner-scale-set
  # https://github.com/actions/actions-runner-controller/blob/master/charts/gha-runner-scale-set/values.yaml
  values:
    githubConfigUrl: ${gha_runner_scale_set_url}
    githubConfigSecret: github-token
    runnerScaleSetName: ${gha_runner_scale_set_name:=gha-runner-scale-set}
    maxRunners: ${gha_runner_scale_set_max_runners:=5}
