apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: gha-runner-scale-set-controller
  namespace: gha-runner-scale-set-controller
spec:
  interval: 5m
  install:
    crds: CreateReplace
  upgrade:
    crds: CreateReplace
  chart:
    spec:
      chart: gha-runner-scale-set-controller
      version: 0.9.1
      sourceRef:
        kind: HelmRepository
        name: gha-runner-scale-set-controller
  # https://github.com/actions/actions-runner-controller/blob/master/charts/gha-runner-scale-set-controller/values.yaml
  values:
    image:
      repository: ${gha_runner_scale_set_controller_image_registry:=ghcr.io}/actions/gha-runner-scale-set-controller
---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: gha-runner-scale-set
spec:
  interval: 5m
  dependsOn:
    - name: gha-runner-scale-set-controller
      namespace: gha-runner-scale-set-controller
  install:
    crds: CreateReplace
  upgrade:
    crds: CreateReplace
  chart:
    spec:
      chart: gha-runner-scale-set
      version: 0.9.1
      sourceRef:
        kind: HelmRepository
        name: gha-runner-scale-set
  # https://github.com/actions/actions-runner-controller/blob/master/charts/gha-runner-scale-set/values.yaml
  values:
    githubConfigUrl: ${github_config_url}
    githubConfigSecret: github-token
    runnerScaleSetName: ${gha_runner_scale_set_name}
