apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: drawio
spec:
  interval: 1m
  install:
    crds: CreateReplace
  upgrade:
    crds: CreateReplace
  chart:
    spec:
      chart: drawio
      version: 12.1.7
      sourceRef:
        kind: HelmRepository
        name: drawio
  # https://github.com/truecharts/charts/blob/master/charts/stable/drawio/values.yaml
  values:
    ingress:
      main:
        enabled: ${drawio_ingress_enabled:=true}
        hosts:
          - host: drawio.${cluster_domain}
        integrations:
          traefik:
            enabled: false
    persistence:
      drawio:
        enabled: true
        mountPath: /drawio


