apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: pulumi-operator
spec:
  interval: 1m
  chart:
    spec:
      chart: pulumi-kubernetes-operator
      version: 0.7.3
      sourceRef:
        kind: HelmRepository
        name: pulumi-operator
  # https://github.com/pulumi/pulumi-kubernetes-operator/blob/master/deploy/helm/pulumi-operator/values.yaml
  values: {}
