apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: longhorn
spec:
  interval: 5m
  install:
    crds: CreateReplace
  upgrade:
    crds: CreateReplace
  chart:
    spec:
      chart: longhorn
      version: 1.6.2
      sourceRef:
        kind: HelmRepository
        name: longhorn
  # https://github.com/longhorn/charts/blob/v1.6.x/charts/longhorn/values.yaml
  values:
    ingress:
      enabled: true
      host: longhorn.${cluster_domain}

