apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ollama
spec:
  interval: 1m
  install:
    crds: CreateReplace
  upgrade:
    crds: CreateReplace
  chart:
    spec:
      chart: ollama
      version: 0.53.0
      sourceRef:
        kind: HelmRepository
        name: ollama
  # https://github.com/otwld/ollama-helm/blob/main/values.yaml
  values:
    ingress:
      enabled: ${ollama_ingress_enabled:=true}
      className: ${ingress_class_name:=}
      hosts:
        - host: ollama.${cluster_domain}
          paths:
            - path: /
              pathType: Prefix
    persistentVolume:
      enabled: ${ollama_persistence_enabled:=false}
    updateStrategy:
      type: Recreate
    resources:
      requests:
        cpu: ${ollama_cpu_request:=}
        memory: ${ollama_memory_request:=}
      limits:
        cpu: ${ollama_cpu_limit:=}
        memory: ${ollama_memory_limit:=}
