apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: homepage
spec:
  interval: 5m
  install:
    crds: CreateReplace
  upgrade:
    crds: CreateReplace
  chart:
    spec:
      chart: homepage
      version: 1.2.3
      sourceRef:
        kind: HelmRepository
        name: homepage
  # https://github.com/jameswynn/helm-charts/blob/main/charts/homepage/values.yaml
  values:
    enableRbac: true
    serviceaccount:
      create: true
    ingress:
      main:
        enabled: true
        hosts:
          - host: homepage.${cluster_domain}
            paths:
              - path: /
                pathType: Prefix
    config:
      kubernetes:
        mode: cluster
