apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: rook-ceph
spec:
  interval: 5m
  install:
    crds: CreateReplace
  upgrade:
    crds: CreateReplace
  chart:
    spec:
      chart: rook-ceph
      version: v1.14.4
      sourceRef:
        kind: HelmRepository
        name: rook-ceph
  # https://github.com/rook/rook/blob/release-1.14/deploy/charts/rook-ceph/values.yaml
  values: {}
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: rook-ceph-cluster
spec:
  interval: 5m
  install:
    crds: CreateReplace
  upgrade:
    crds: CreateReplace
  dependsOn:
    - name: rook-ceph
  chart:
    spec:
      chart: rook-ceph-cluster
      version: v1.14.3
      sourceRef:
        kind: HelmRepository
        name: rook-ceph
  # https://github.com/rook/rook/blob/release-1.14/deploy/charts/rook-ceph/values.yaml
  values: {}
