apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: openebs
spec:
  interval: 5m
  install:
    crds: CreateReplace
  upgrade:
    crds: CreateReplace
  chart:
    spec:
      chart: openebs
      version: 4.0.1
      sourceRef:
        kind: HelmRepository
        name: openebs
  # https://github.com/openebs/openebs/blob/main/charts/values.yaml
  values: {}
