apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../../../cert-manager
  - ../../../../cloudflared
  - ../../../../gha-runner-scale-set
  - ../../../../homepage
  - ../../../../metrics-server
  - ../../../../oauth2-proxy
  - ../../../../traefik
  - ../../../../vertical-pod-autoscaler
  - configmaps/oauth2-proxy-configmap.yaml
