apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../../cert-manager
  - ../../../cloudflared
  - ../../../crossplane
  - ../../../dex
  - ../../../gha-runner-scale-set
  - ../../../goldilocks
  - ../../../harbor
  - ../../../helm-charts-oci-proxy
  - ../../../homepage
  - ../../../kubelet-serving-cert-approver
  - ../../../longhorn
  - ../../../metrics-server
  - ../../../oauth2-proxy
  - ../../../pulumi-operator
  - ../../../reloader
  - ../../../traefik
  - configmaps/oauth2-proxy-configmap.yaml
