apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: harbor
spec:
  interval: 1m
  install:
    crds: CreateReplace
  upgrade:
    crds: CreateReplace
  chart:
    spec:
      chart: harbor
      version: 21.4.7
      sourceRef:
        kind: HelmRepository
        name: harbor
  # https://github.com/bitnami/charts/blob/main/bitnami/harbor/values.yaml
  values:
    externalURL: https://harbor.${cluster_domain}
    adminPassword: ${harbor_admin_password:=Harbor12345}
    ingress:
      core:
        hostname: harbor.${cluster_domain}
    exposureType: ingress
    persistence:
      persistentVolumeClaim:
        registry:
          accessModes:
            - ${harbor_persistent_volume_access_mode:=ReadWriteMany}
        jobservice:
          existingClaim: ""
          storageClass: ""
          subPath: ""
          accessModes:
            - ${harbor_persistent_volume_access_mode:=ReadWriteMany}
