apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: harbor
spec:
  interval: 5m
  install:
    crds: CreateReplace
  upgrade:
    crds: CreateReplace
  chart:
    spec:
      chart: harbor
      version: 1.14.2
      sourceRef:
        kind: HelmRepository
        name: harbor
  # https://github.com/goharbor/harbor-helm/blob/main/values.yaml
  values:
    externalURL: https://harbor.${cluster_domain}
    harborAdminPassword: ${harbor_admin_password:=Harbor12345}
    expose:
      tls:
        certSource: none
      ingress:
        hosts:
          core: harbor.${cluster_domain}
    persistence:
      persistentVolumeClaim:
        registry:
          storageClass: ${harbor_storage_class:=}
          accessMode: ${harbor_storage_access_mode:=ReadWriteOnce}
        jobservice:
          jobLog:
            storageClass: ${harbor_storage_class:=}
            accessMode: ${harbor_storage_access_mode:=ReadWriteOnce}
