apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: crossplane
spec:
  interval: 5m
  chart:
    spec:
      chart: crossplane
      version: 1.16.0
      sourceRef:
        kind: HelmRepository
        name: crossplane
  # https://artifacthub.io/packages/helm/crossplane/crossplane?modal=values
  values: {}
