apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: plantuml
spec:
  interval: 1m
  install:
    crds: CreateReplace
  upgrade:
    crds: CreateReplace
  chart:
    spec:
      chart: plantuml
      version: 3.31.0
      sourceRef:
        kind: HelmRepository
        name: plantuml
  # https://github.com/stevehipwell/helm-charts/blob/main/charts/plantuml/values.yaml
  values:
    ingress:
      enabled: ${plantuml_ingress_enabled:=true}
      hosts:
        - plantuml.${cluster_domain}
